
     *{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    body{
        background-color: #f0f3f5;
    }
     .main{
    display: flex;
    /* height: 30%; */
    margin: auto;
    padding: 10px;
    color: white;
    background-color: #09438b;
    border-radius: 5px;
}
.left{
    display: flex;
    width: 60%;
    height: 100%;
    margin-right: 2px;
    padding-left: 100px;
    
}
.right{
    display: flex;
    width: 40%;
    height: 100%;
    flex-grow: 1;
    margin-right: 10px;
    color: white;
    
}
.right>div{
    margin-top: 18px;
    flex-grow: 1;
    font-size: 18px;
    color: white;
}
.right>div>a:hover{
    text-decoration: underline;
}
select{
margin: 25px 0px;
border: none;
background-color: #1c2938;
color: white;
}
.option{
    margin-left: 30px;
    background-color: #09438b;
    border: none;
    
}
.sub{
     width: 100px;
     background-color: white;
}
a{
    color: white;
    text-decoration: none;
}



#container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px;
    }
#container>div{
    border-bottom: 1px solid gray;
}
    #sub {
    display: flex;
    justify-content: space-around;
  }
  #sub > p:nth-child(2) {
    text-decoration: line-through;
  }
  #sub > p:nth-child(1) {
    font-size: 20px;
  }
  .add{
  background-color:#3a72c3;
  padding: 10px;
  margin-left: 150px;
  color: lavender;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  }
  h4{
      background-color: #c3c2c0;
  }
  h3{
      /* color: #d3b889; */
  }
  #goto{
      padding: 20px 40px;
      margin-bottom: 20px;
      background-color: #31469e;
      color: white;
      border-radius: 10px;
      font-size: 15px;
  }


  @media only screen and (min-width:320px) and (max-width:701px){
    #container{
    grid-template-columns: repeat(2,1fr);
      /* grid-template-rows: repeat(5,200px); */
 }
}
  @media only screen and (min-width:0) and (max-width:319px){
    #container{
    grid-template-columns: repeat(1,1fr);
      /* grid-template-rows: repeat(9,200px); */
 }

 
  }